<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>729</integer>
    <key>capHeight</key>
    <integer>729</integer>
    <key>copyright</key>
    <string>Copyright © 2021 by GitHub.Inc. All rights reserved.</string>
    <key>descender</key>
    <integer>-167</integer>
    <key>familyName</key>
    <string>Hubot Sans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>35</integer>
        <key>y</key>
        <integer>356</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>35</integer>
        <key>y</key>
        <integer>290</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/05/31 15:56:58</string>
    <key>openTypeHheaAscender</key>
    <integer>1090</integer>
    <key>openTypeHheaDescender</key>
    <integer>-320</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Deni Anggara</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.degarism.com</string>
    <key>openTypeNameManufacturer</key>
    <string>GitHub, Inc., Subsidiary of Microsoft Corporation</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.github.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>280</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>70</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1090</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-320</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>3</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1090</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>320</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-7</integer>
      <integer>0</integer>
      <integer>524</integer>
      <integer>531</integer>
      <integer>729</integer>
      <integer>736</integer>
      <integer>729</integer>
      <integer>736</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-174</integer>
      <integer>-167</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>62</integer>
      <integer>59</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>73</integer>
      <integer>73</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-140</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>70</integer>
    <key>styleMapFamilyName</key>
    <string>Hubot Sans Narrow</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular Narrow</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>524</integer>
  </dict>
</plist>
